.editName {
  .inputs {
    display: flex;

    input {
      margin-right: 15px;
      flex-grow: 1;
      padding: 5px;
    }

    button {
      margin-right: 5px;
    }
  }

  .error {
    margin-top: 5px;
    color: red;
  }
}