.glossarySettings {

    background-color: hsl(0, 0%, 90%);
    padding: 10px;

    h2 {
        color: #313131;
        font: 700 16px 'Lato', helvetica, verdana, sans-serif;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }

    input {
        margin-block-end: 15px;
    }

    label {
        color: #313131;
        padding-left: 5px;
        font: 700 16px 'Lato', helvetica, verdana, sans-serif;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }
}