.glossaryTermsDefinitions {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 10px 0;

    button {
      padding: 5px 10px;
    }

    strong {
      margin-right: 10px;
    }


    select {
      padding: 5px;
    }

  }


}