@import '../common/base.scss';

.modelAuthoringApp {
  display: flex;
  flex-direction: column;
  font-family: 'Lato-Regular', helvetica, verdana, sans-serif;
  color: var(--font-color-default);

  a {
    color: var(--teal);

    &:hover {
      color: var(--ltr-teal);
    }
  }

  .header {
    display: flex;
    align-items: center;

    h1 {
      color: var(--orange);
      font: 700 24px 'Lato-Bold', helvetica, verdana, sans-serif;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .leftColumn {
      width: 75%;
    }

    .rightColumn {
      width: 25%;
      min-width: 340px;
    }
  }

  .debugJson {
    font-family: monospace;
    white-space: pre;
    margin: 20px;
    border: 1px solid #777;
    padding: 10px;
  }

  .clearDemoData {
    flex-grow: 1;
    text-align: right;
  }

  button {
    background: var(--ltst-teal);
    border: solid 1.5px var(--teal);
    border-radius: 4px;
    color: var(--teal);
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: var(--ltr-teal);
      color: var(--teal);
    }

    &:active {
      background: var(--teal);
      color: white;

      svg {
        fill: white;
      }
    }

    &.disabled {
      background: #ccc;
    }
  }
}