@import '../common/base.scss';

.panel {
  margin-bottom: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--teal);
    border-radius: 5px 5px 0px 0px;
    padding: 10px;

    h1 {
      color: white;
      font: 700 18px 'Lato-Bold', helvetica, verdana, sans-serif;
      padding: 0;
      margin: 0;
    }

    button.toggle {
      height: fit-content;
      background-color: var(--teal);
      border: none;
      font-size: 18px;
      color: white;
      cursor: pointer;
    }
  }
}