@import '../common/base.scss';

.modalForm {
  display: flex;
  background-color: #fff;

  .left {
    min-width: 560px;
    border-right: solid var(--teal);
    display: flex;
    flex-direction: column;

    .header {
      background-color: var(--teal);
      color: white;
      font: 700 18px 'Lato-Bold', helvetica, verdana, sans-serif;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      a {
        margin-right: 20px;
        color: white;
      }
      span {
        cursor: pointer;
      }
    }

    form {
      padding: 10px 20px;
      flex-grow: 1;

      .fieldset {
        border: none;
        padding: 0;
        margin: 20px 0;
        display: flex;
        flex-direction: row;

        legend {
          display: inline;
          width: 190px;
          white-space: nowrap;
          font-weight: bold;
        }

        :nth-child(2) {
          display: flex;
          flex-direction: column;

          :nth-child(1) {
            flex-grow: 1;
          }

          flex-grow: 1;
        }

        input, textarea, select {
          padding: 5px;
        }

        textarea {
          height: 60px;
          font-family: 'Lato-Regular', verdana, Helvetica, sans-serif;

          &.definition {
            height: 100px;
          }
        }

        .error {
          display: block;
          color: red;
          margin-top: 5px;
        }
      }
    }

    .buttons {
      padding: 10px 0 20px 0;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  .right {
    background-color: var(--lt-gray);
    padding: 10px 20px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}