.outerPopup {
  margin: 20px 0;
  align-self: center;
  background-color: white;
  width: 300px;
  color: #313131;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #cdebf2;

    h4 {
      margin: 0px;
    }

    .exit {
      color: #0592af;
    }
  }

  .innerPopup {
    padding: 10px;
    border: solid #0592af;
    border-width: 0px 1px 1px 1px;
  }
}