// Helpers
// Colors
$color: #3f3f3f;
$font: 16px verdana, helvetica, sans-serif;
$content-padding: 20px;
$min-report-width: 40em;

$main-dark: #0592af;
$main-light: #6fc6da;
$even-row: #f3f3f3;

// General table styles
$student-name-width: 150px;
$border-width: 1px;
$min-cell-width: 110px;
$cell-border: $border-width solid $main-dark;
$row-height: 40px;
$row-padding: 8px;
$row-outer-height: $row-height + 2 * $row-padding + 2 * $border-width;
$expanded-student-row-height: 200px;
$expanded-interaction-prompt-max-height: 100px;

// Transitions
$transition-time: 500ms;
$width-transition: min-width $transition-time, width $transition-time;
$height-transition: height $transition-time $transition-time, max-height $transition-time $transition-time;
$flex-transition: flex $transition-time;

// Mixins
@mixin cell {
  min-height: $row-height;
  min-width: $min-cell-width;
  padding: $row-padding;
  border: $cell-border;
  box-sizing: border-box;
}

@mixin multChoiceSummary {
  text-align: center;
  font-weight: 100;
  flex: 1;
  min-width: 100px;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin clickable {
  cursor: pointer;
  font-weight: 500;
}
