@import "./helpers";

.studentName {
  @include clickable;
  display: flex;
  max-width: $student-name-width;
  height: $row-outer-height;
  transition: $height-transition;

  &:nth-child(even) {
    background: $even-row;
  }


  &.expanded {
    height: $expanded-student-row-height
  }

  .content {
    @include cell;
    @include nowrap;
    flex: 1;
  }
}
