.App {
  max-width: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #0592AF;
  text-align: center;
  height: 48px;
  color: white;
}

.App-title {
  font-size: 2em;
  margin-top: 0;
  padding-top: 5px;
}

.glossary-word-section {
  padding: 10px;
}

.glossary-word {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
}

.speech-part {
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
}

.App-intro {
  font-size: large;
}

.definition-section {
  width: 100%;
}

.user-definition {
  margin-left: 10px;
}

.submit-button {
  display: block !important;
  margin: 0 0 0 auto !important;
  margin-top: 20px;
  width: 120px;
}