.authoring {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  width: 700px;

  input {
    display: inline-block;
  }

  label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    max-width: 500px;
  }

  .help {
    color: #666;
    font-size: 0.85em;
  }

  .definitionsTable {
    width: 600px;
    table-layout: fixed;
    margin-bottom: 20px;

    .wordRow {
      height: 30px;

      .definitionTxt, .definitionWord {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .definitionWord {
        width: 100px;
      }

      .definitionTxt {
        color: #666;
        width: 250px;
      }

      .definitionIcons {
        width: 80px;
        span {
          margin: 5px;
          font-size: 25px;
          color: #777;
        }
      }

      .definitionButtons {
        width: 140px;
      }
    }
  }
}

.jsonSection {
  display: inline-block;
  vertical-align: top;

  .json {
    width: 600px;
    font-family: monospace;
  }
}

.preview {
  display: inline-block;
  vertical-align: top;

  .sidebar {
    width: 450px;
    max-height: 600px;
    border: 1px solid #666;
  }
}

