.authoringApp {
  h2 {
    margin-top: 0;
  }
}

.authoringColumn {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  margin-right: 70px;

  & > * {
    margin-bottom: 30px;
  }
}

.authoring {
  input {
    display: inline-block;
  }

  label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    max-width: 500px;
  }

  .definitionsTable {
    width: 600px;
    table-layout: fixed;
    margin-bottom: 20px;

    .wordRow {
      height: 30px;

      .definitionTxt, .definitionWord {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .definitionWord {
        width: 100px;
      }

      .definitionTxt {
        color: #666;
        width: 250px;
      }

      .definitionIcons {
        width: 80px;
        span {
          margin: 5px;
          font-size: 25px;
          color: #777;
        }
      }

      .definitionButtons {
        width: 140px;
      }
    }
  }
}

.preview {
  display: inline-block;
  vertical-align: top;
  width: 600px;

  .handle {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 70px;
    background: #aaa;
    color: #fff;
    text-align: center;

    span {
      margin-top: 7px;
      font-size: 40px;
    }
  }

  .sidebar {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    max-height: 600px;
    border: 1px solid #aaa;
  }
}

.laraPluginState {
  .laraPluginStateJSON {
    width: 600px;
    font-family: monospace;
  }
}

.help {
  color: #666;
  font-size: 0.85em;
  margin-bottom: 7px;
}

.s3Details {
  .name, .name input {
    font-size: 1.3em;
  }
  input {
    width: 300px;
  }
}

.s3Status {
  font-weight: bold;
  font-size: 0.85em;
}
